/* Tiniri Light for Prism.js */
code[class*="language-"],
pre[class*="language-"] {
  color: #8e8e8e;
  background: #f7f7f7;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  line-height: 1.5;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

.token.comment { color: #7fa777; }
.token.constant { color: #656361; }
.token.char-escape { color: #80797488; }
.token.function { color: #AD514C; }
.token.tag { color: #807974; }
.token.attr-name { color: #356B94; }
.token.deleted { color: #E59793; }
.token.keyword { color: #807974; }
.token.raw { color: #807974; }
.token.punctuation { color: #807974; }
.token.string { color: #9f8bc5; }
.token.variable { color: #AD514C; }
.token.parameter { color: #356B94; }
.token.number { color: #AD514C; }
.token.boolean { color: #AD514C; }
.token.selector { color: #356B94; }
.token.property { color: #807974; }
.token.class-name { color: #f2c394; }
.token.builtin { color: #AD514C; }
.token.operator { color: #807974; }
.token.namespace { color: #AD514C; }
.token.regex { color: #538A8A; }
.token.symbol { color: #AD514C; }
.token.entity { color: #AD514C; }
.token.url { color: #538A8A; }

/*.atrule
.attr-value
.cdata
.doctype
.important
.inserted
.prolog
.pseudo-class
.pseudo-element
.template-string*/

